* {
<<<<<<< HEAD
    font-family: Verdana, sans-serif;
    color: #0bdbdb;
=======
    font-family: Verdana, Sans-serif;
    color: rgba(80, 237, 218, 1);
    box-sizing: border-box;
}
>>>>>>> origin/master

body {
	background-color: rgba(47,48,48,1);
}

body {

    background-color: #2f3030;
}

.header * {
    background-color: #2f3030;
    text-align: center;
    padding: 5px;
}

.sidebar {
    background-color: #2f3030;
    width: 100%;
    text-align: center;
}

.side_link {
    background-color: #2f3030;
    text-align: center;
}

.side_link a {
    background-color: #6b6b6b; /* Grey background color */
    width: 100%;
    font-size: 140%;
    padding-top: 30px;
    color: #0bdbdb;
    display: block;
    text-decoration: none;
}

<<<<<<< HEAD
#dark {
    background-color: #3c3c3c;
=======
.widget{
	background-color: rgba(107, 107, 107, 1);
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 30px;
}

#dark{
	background-color: rgba(60, 60, 60, 1);
>>>>>>> origin/master
}

#light {
    background-color: #6b6b6b;
}

/* Add a background color on hover */
.side_link a:hover {
    background-color: #969696;
}

/* Add a dark color to the "active/current" link */
.side_link a.active {
    background-color: #3c3c3c;

}

#main_pane {
<<<<<<< HEAD
    background-color: #6b6b6b;
=======
    background-color: rgba(47, 48, 48, 1);
>>>>>>> origin/master
}

#time_selection {
    padding: 20px;
    text-align: left;
}

.btn {
    display: block;
}

#add_chart {
    text-align: center;
}

#accountInfo {
    text-align: center;
    font-size: 120%;
}

#big_graph {
    text-align: center;
}

.big_stat {
    color: #dbdde0;
    text-align: center;
}

.list_heading {
    color: #dbdde0;
    border-bottom: 5px;
    text-align: center;
}

#login {
	position: relative;
	left: 380px;
}

ol p {
    color: #dbdde0;
    font-style: italic;
}

<<<<<<< HEAD
.graph_title {
    font-weight: bold;
    color: #F5F5F5;
}

.graph {
    width: 420px;
}

=======
>>>>>>> origin/master
.login {
    text-align: center;
    color: #F5F5F5;
}
.in {
    background-color: #f5f5f5;
}
.button {
    color: #0bdbdb;
}
#username {
    color: #0bdbdb;
<<<<<<< HEAD
}
=======
}
>>>>>>> origin/master
