* {
	font-family: Verdana, Sans-serif;
	color: rgba(80, 237, 218, 1);

}

.header * {
    background-color: rgba(47, 48, 48, 1);
    text-align: center;
    padding: 10px;
}

#side_link *{
	color: rgba(47, 48, 48, 1);
	height: 100%;
}

#main_pane {
    background-color: rgba(107, 107, 107, 1);
}

#time_selection {
	padding: 20px;
}

#add_chart {
    text-align: center;
}

#side_link a {
    font-size: 32px;
}

#accountInfo {
	text-align: left;
}

#big_graph {
	text-align: center;
}

.big_stat {
	color: rgb(219, 221, 224);
	text-align: center;
	padding-bottom: 30px;
}

#list_heading {
	color: rgb(219, 221, 224);
	border-bottom: 5px;
}

ol p {
	color: rgb(219, 221, 224);
	font-style: italic;
}